<html>
<head>
    <title>Ejscript Test Program</title>
</head>
<body>
    <h1>Ejscript Test Program</h2>
    <%
        createSession()
        session["when"] = Date()
        session["number"] = 77
    %>
</body>
</html>
